*{  
  cursor: none;
}

body{
  width: 75%;
  height: 75%;
  margin: auto;
  background-color: black;
}



#phase1{
  display: block;
  font: "Lucida Console";
  font-weight: bold;
  color: #0bfc07;
  background-color: black;
}


#phase2{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
}


#phase3{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
  background-size : [];
}



#phase4{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
}



#phase5{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
}



#phase6{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color:red;
  background-color: black;
}



#phase7{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
}


#phase8{
  display: none;
  font: "Lucida Console";
  font-weight: bold;
  font-size: xx-large;
  color: #0bfc07;
  background-color: black;
}
